
/* #region Body */

body {
    margin: 0;
    background-color: #F5E7FF;
}

:root {
    --background: #F5E7FF;
    --headers: #CD8EE0;
    --details: #b9b9b9;
}

/* #endregion */

/* #region Nav */

header {
    height: 20%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    margin-top: 0;
    background-color: #e8c7ff;
}

header>div {
    margin-left: 20%;
    margin: auto;
    padding: 2%;
}

header>div>img {
    display: flex;
    margin-left: 45%;
    margin-right: auto;
    width: 10%;
}

.nav {
    position: sticky;
    top: 0;
    overflow: hidden;
}

nav>ul {
    display: flex;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    align-items: center;
    justify-content: center;
    background-color: #ca9aa5;
}

nav>ul>li {
    padding:.5%;
}

nav>ul>li:hover {
    background-color: #a87581;
}


nav>ul>li>a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Comic Sans MS";
}

#active {
    background-color: #926a73;
}

/* #endregion */

/* #region Divs */

.activity {
    display: flex;
    padding: 10%;
}

.footer-flex {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(190, 190, 190);
}
footer>p {
    text-align: center;
    background-color:#b1b1b1;
}

/* #endregion */

/* #region Articles */

.Welcome {
    margin-left: 20%;
    margin: auto;
    width: 38%;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

article {
    font-size: 156%;
    text-align: center;
    color: rgb(0, 0, 0);
    display: flex;
    margin-left: 10%;
    margin: auto;
    width: 50%;
    padding: 3%;
}

.activeimg {
    display: flex;
    width: 125%;
    height: auto;
    margin-top: 5%;
}

.activetxt {
    text-align: center;
}

/* #endregion */

